PassengerEnabled on
PassengerAppRoot "/home/visasyst/public_html/impify.visasystem.in/backend"
PassengerStartupFile passenger_wsgi.py
PassengerPython "/home/visasyst/virtualenv/home/visasyst/public_html/impify.visasystem.in/backend/3.12/bin/python"
PassengerLogFile /home/visasyst/logs/passenger_error.log
